body {
    margin: 0;
    overflow-x: hidden;
}

header {
    background-color:aqua;
}

button {
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 140px;
    border: none;
    border-start-end-radius: 10px;
    color:whitesmoke;
    background-color: blueviolet;
    cursor: pointer;  
}

h1{ 
    color: crimson;
    text-align: center;
    font-size: 4rem;
}

h2{
    color: coral;
    font-size: 2rem;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main{
    padding: 15px;
}

section{
    border: 1px solid grey;
    border-radius: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

.sol{
    display: none;
    background:aqua ;
    padding: 10px;
    border-radius: 8px;
}

:target{
    display: block;
}

.b{
    padding: 10px;
    background: green;
    border-radius: 10px;
    text-decoration: none;

}


